<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">GoSell</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropDown>
          <a class="dropdown-toggle" role="button">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>New Cars</a></li>
            <li><a>Used Cars</a></li>
            <li><a>Auto Parts</a></li>
          </ul>
        </li>
        <li><a>Service</a></li>
        <li class="dropdown" appDropDown>
          <a class="dropdown-toggle" role="button">Language <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>English</a></li>
            <li><a>Urdu</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropDown>
          <a class="dropdown-toggle" role="button">Theme <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Light</a></li>
            <li><a>Dark</a></li>
          </ul>
        </li>
        <li><a>Place your add!</a></li>
        <li><a>Get Started!</a></li>
      </ul>
    </div>
  </div>
</nav>
