<div class="row" style="margin: 20px">
  <app-filter></app-filter>
  <div class="col-xs-9">
    <div class="list-group">
      <a class="list-group-item clearfix" *ngFor="let car of filteredCars">
        <div class="pull-left">
          <img [src]="car.imgPath" alt="Car Image" class="img-responsive" style="max-height:100px;">
          <h4 class="list-group-item-heading">{{car.name}}</h4>
          <h4 class="list-group-item-text">{{car.bodyType}}</h4>
          <h4 class="list-group-item-text">{{car.KMDriven}}</h4>
          <h4 class="list-group-item-text">{{car.color}}</h4>
          <h4 class="list-group-item-text">{{car.horsePower}}</h4>
          <h4 class="list-group-item-heading">{{car.price}}</h4>
        </div>
      </a>
    </div>
  </div>
</div>
