<div class="container">
  <div class="content">
    <h2>Change Password</h2>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" formControlName="oldPassword">
        <div *ngIf="changePasswordForm.get('oldPassword').errors && changePasswordForm.get('oldPassword').touched" style="color: red;">
          <small *ngIf="changePasswordForm.get('oldPassword').hasError('required')">Password is required</small>
        </div>
      </div>

      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div *ngIf="changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched" style="color: red;">
          <small *ngIf="changePasswordForm.get('newPassword').hasError('required')">New Password is required</small>
        </div>
      </div>

      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').touched" style="color: red;">
          <small *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">Confirm Password is required</small>
        </div>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3">
        <span>{{ error }}</span>
        <button class="close-button" (click)="clearError()">Close</button>
      </div>

      <div *ngIf="success" class="alert mt-3">
        <span>{{ success }}</span>
        <button type="button" class="close-button" (click)="clearSuccess()">Close</button>
      </div>

      <button type="submit" [disabled]="changePasswordForm.invalid" *ngIf="!success">Submit</button>
    </form>
  </div>
</div>
