.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
}

.container form {
  width: 300px;
  text-align: center;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}
