<div class="col-xs-3">
  <form [formGroup]="carFilterForm" (ngSubmit)="applyFilters()">
    <h4>Filters</h4>
    <label for="city">City:</label>
    <select id="city" name="city" formControlName="city">
      <option value="">All</option>
      <option *ngFor="let option of cityOptions" [value]="option">{{option}}</option>
    </select>

    <label for="price">Price:</label>
    <select id="price" name="price" formControlName="price">
      <option value="">All</option>
      <option *ngFor="let option of priceOptions" [value]="option">{{option}}</option>
    </select>

    <label for="maker">Maker:</label>
    <select id="maker" name="maker" formControlName="maker">
      <option value="">All</option>
      <option *ngFor="let option of makerOptions" [value]="option">{{option}}</option>
    </select>

    <label for="fuelType">Fuel Type:</label>
    <select id="fuelType" name="fuelType" formControlName="fuelType">
      <option value="">All</option>
      <option *ngFor="let option of fuelTypeOptions" [value]="option">{{option}}</option>
    </select>

    <label for="bodyType">Body Type:</label>
    <select id="bodyType" name="bodyType" formControlName="bodyType">
      <option value="">All</option>
      <option *ngFor="let option of bodyTypeOptions" [value]="option">{{option}}</option>
    </select>

    <label for="stearingSide">Stearing Side:</label>
    <select id="stearingSide" name="stearingSide" formControlName="stearingSide">
      <option value="">All</option>
      <option *ngFor="let option of stearingSideOptions" [value]="option">{{option}}</option>
    </select>

    <label for="seats">No. Of Seats:</label>
    <select id="seats" name="seats" formControlName="seats">
      <option value="">All</option>
      <option *ngFor="let option of seatsOptions" [value]="option">{{option}}</option>
    </select>

    <label for="color">Color:</label>
    <select id="color" name="color" formControlName="color">
      <option value="">All</option>
      <option *ngFor="let option of colorOptions" [value]="option">{{option}}</option>
    </select>

    <label for="interiorColor">Interior Color:</label>
    <select id="interiorColor" name="interiorColor" formControlName="interiorColor">
      <option value="">All</option>
      <option *ngFor="let option of interiorColorOptions" [value]="option">{{option}}</option>
    </select>

    <label for="cylinders">Cylinders:</label>
    <select id="cylinders" name="cylinders" formControlName="cylinders">
      <option value="">All</option>
      <option *ngFor="let option of cylindersOptions" [value]="option">{{option}}</option>
    </select>

    <label for="horsePower">Horse Power:</label>
    <select id="horsePower" name="horsePower" formControlName="horsePower">
      <option value="">All</option>
      <option *ngFor="let option of horsePowerOptions" [value]="option">{{option}}</option>
    </select>

    <button type="submit">Apply Filters</button>
  </form>
</div>
