<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh;">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div>
        <label>Name:</label>
        <input type="text" formControlName="name" required>
        <div *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched">
          <small *ngIf="signUpForm.get('name').errors?.required">Name is required.</small>
        </div>
      </div>
      <div>
        <label>Email:</label>
        <input type="email" formControlName="email" required>
        <div *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">
          <small *ngIf="signUpForm.get('email').errors?.required">Email is required.</small>
          <small *ngIf="signUpForm.get('email').errors?.email">Please enter a valid email.</small>
        </div>
      </div>
      <div>
        <label>Phone:</label>
        <input type="number" formControlName="phone" required>
        <div *ngIf="signUpForm.get('phone').invalid && signUpForm.get('phone').touched">
          <small *ngIf="signUpForm.get('phone').errors?.required">Phone is required.</small>
          <small *ngIf="signUpForm.get('phone').errors?.pattern">Phone is incorrect.</small>
        </div>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" formControlName="password" required>
        <div *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched">
          <small *ngIf="signUpForm.get('password').errors?.required">Password is required.</small>
          <small *ngIf="signUpForm.get('password').errors?.pattern">Please set a strong password!</small>
        </div>
      </div>
      <div>
        <label>Confirm Password:</label>
        <input type="password" formControlName="confirmPassword" required>
        <div *ngIf="signUpForm.get('confirmPassword').invalid && signUpForm.get('confirmPassword').touched">
          <small *ngIf="signUpForm.get('confirmPassword').errors?.required">Confirm Password is required.</small>
          <small *ngIf="signUpForm.hasError('passwordMismatch') && signUpForm.get('confirmPassword').value !== ''">
            Passwords do not match.
          </small>
        </div>
      </div>
      <button type="submit" [disabled]="signUpForm.invalid || signUpForm.hasError('passwordMismatch')">
        Sign Up
      </button>
    </form>
    <hr>
    <div>
      Already have an account? <a [routerLink]="['..','login']">Sign In</a>
    </div>
  </div>
</div>




