<div class="container">
  <div class="content">
    <h1>Reset Password</h1>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="newPassword">Enter New Password:</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div *ngIf="resetForm.get('newPassword').errors && resetForm.get('newPassword').touched" style="color: red;">
          <small *ngIf="resetForm.get('newPassword').errors.required">New Password is required.</small>
          <small *ngIf="resetForm.get('newPassword').errors.minlength">New Password must be at least 5 characters long.</small>
        </div>
      </div>

      <div>
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="resetForm.get('confirmPassword').invalid && resetForm.get('confirmPassword').touched" style="color: red;">
          <small *ngIf="resetForm.get('confirmPassword').errors.required">Confirm Password is required.</small>
          <small *ngIf="resetForm.get('confirmPassword').errors.passwordMismatch">Passwords do not match.</small>
        </div>
      </div>

      <div *ngIf="success" class="alert mt-3">
        <span>{{ success }}</span>
        <button type="button" class="close-button" (click)="clearSuccess()">Close</button>
      </div>

      <button type="submit" [disabled]="resetForm.invalid">Submit</button>
    </form>
  </div>
</div>
